table, th, td {
    border: 1px solid black;
}

h2, h3, p {
    font-family: 'Bitstream Vera Sans', Verdana, Tahoma, 'Sans serif';
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

.button2 {
    background-color: #f44336;
  }

.content {
  font-family: 'Bitstream Vera Sans', Verdana, Tahoma, 'Sans serif';
}

td,th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}

td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #eee;
}

th{
    background-color: #696969;
    color: #fff;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: 'Bitstream Vera Sans', Verdana, Tahoma, 'Sans serif';
    font-size: 16px;
}
